* {
  margin: 0;
  padding: 0;
}

.mainBox {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  margin-top: 150px;
}

/* *--------------------ModifayModal---------------------- */
