.card {
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 50px 7px rgba(0, 0, 0, 0.123);
  margin: 20px;
  padding: 10px;
  transition: 0.5s;
  width: calc(25% - 40px); /* Restar el margen para ajustar correctamente */
  box-sizing: border-box;
}

.productImg {
  border-radius: 10px;
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.name {
  color: #dccca3;
  font-size: 1.2rem;
  margin: 0;
}

.description {
  color: white;
  font-size: 0.9rem;
  margin: 10px 0;
}

.bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.price {
  color: #dccca3;
  font-size: 1rem;
}

.addToCart {
  background-color: #d87b1d;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: -1.5rem;
  height: 40px;
  transition: 0.2s;
  width: 60px;
}

.addToCart:hover {
  transform: scale(1.25);
}

.addToCart:active {
  transform: scale(0.85);
}

/* Media Queries para diseño responsivo */
@media (max-width: 1200px) {
  .card {
    width: calc(33.33% - 40px); /* Tres tarjetas por fila */
  }
}

@media (max-width: 900px) {
  .card {
    width: calc(50% - 40px); /* Dos tarjetas por fila */
  }
}

@media (max-width: 600px) {
  .card {
    width: calc(100% - 40px); /* Una tarjeta por fila */
  }
}
