.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: #131313;
  margin-top: 135px;
}

@media only screen and (max-width: 800px) {
  .productList {
    flex-direction: column;
    align-items: center;
  }
}
