.flexiBox {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.mainContainer {
  width: calc(30% - 10px);
  height: 120px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 50px 7px rgba(0, 0, 0, 0.123);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin: 20px;
  transition: 0.5s;
}

.upperContainer {
  display: flex;
  align-items: center;
}

h5 {
  max-height: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  font-size: 0.7rem;
  overflow: hidden;
}

.description {
  color: white;
  max-height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productImg {
  padding-left: calc(30px / 2);
  padding-right: calc(30px / 2);
  transform: translateY(-30%);
  position: relative;
  top: 50%;
  width: 110px;
  height: 80px;
  border-radius: 10px;
}

.bottomContainer {
  transform: translateY(-40%);
  background-color: rgba(255, 0, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* z-index: -1; */
}

button.addToCart {
  width: 25px;
  height: 25px;
  border: 0;
  outline: none;
  color: var(--secondary-color);
  background-color: #d87b1d;
  border-radius: 10px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  transition: 0.2s;
  box-shadow: 0 0 0 0;
  border: 2px solid transparent;
}

button.addToCart:hover {
  transform: scale(1.25);
  border: 2px solid var(--secondary-color);
}

button.addToCart:active {
  transform: scale(0.85);
}

@media only screen and (max-width: 800px) {
  .mainContainer {
    width: 98%;
  }
}

.hedder {
  color: #dccca3;
}
