.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productList {
  flex: 2;
}

.viewCartButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.viewCartButton:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cartContainer {
  margin-top: 20px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cartItem button {
  margin: 0 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  position: relative;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #dccca3;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: #bca771;
}

li {
  font-size: small;
}

@media (min-width: 768px) {
  .modal {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .modal {
    width: 30%;
  }
}
