.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  transition: all 0.3s ease;
  background-color: #131313;
  z-index: 1000;
}

.navbar:hover {
  background-color: black;
}
.toggle {
  background-color: #dccca3 !important;
  border: none !important;
  stroke: red !important;
}
.brandName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
}

.cartWrapper {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: 35px; /* lo sube un poco por encima del ícono */
  right: 35px; /* lo mueve casi encima del borde derecho del ícono */
  background: #e63946;
  color: #fff;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 6px;
  line-height: 1;
  min-width: 18px;
  text-align: center;
  pointer-events: none; /* evita que tape el click del carrito */
}

.navLink {
  font-size: 1.1rem;
  color: #dccca3 !important;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.recettesPage {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.recettesPage h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.recette {
  margin-bottom: 2.5rem;
}

.recette img {
  max-width: 100%;
  border-radius: 12px;
  margin: 1rem 0;
}

.navbar-brand img {
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.navbar-brand img:hover {
  transform: scale(1.1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.icon {
  color: #dccca3;
  margin: 50px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .brandName {
    font-size: 1.2rem;
  }

  .navLink {
    font-size: 1rem;
    margin-left: 10px;
  }

  .icon {
    margin: 20px;
  }
}
