* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainBox {
  width: 100vw;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #131313;
  color: #fff;
  margin-top: 136px;
}

.box1,
.box2 {
  color: white;
  padding: 20px;
}

.image {
  width: 100%;
  height: auto;
  max-width: 700px;
  max-height: 700px;
}
.imageArticle {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 20px auto 0;
  display: block;
}

@media (min-width: 768px) {
  .mainBox {
    flex-direction: row;
    padding-left: 70px;
    padding-right: 70px;
  }

  .box1,
  .box2 {
    flex: 1;
  }

  .box2 {
    padding-left: 40px;
  }
}

.h1 {
  color: #dccca3;
}

.article {
  height: auto;
  max-width: 1100px;
  background-color: #232321;
  padding: 20px;
  border-bottom: 1px solid #303030;

  /* centrado horizontal */
  margin-left: auto;
  margin-right: auto;
}

.boxBlock {
  width: 90%;
  margin: 30px auto;
  border-left: solid 5px #131313;
  padding: 20px;
  color: #131313;
  background-color: #dccca3;
}

.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

@media (min-width: 768px) {
  .opening {
    flex-direction: row;
    margin-left: -70px;
    margin-right: -70px;
  }
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: #131313;
  box-shadow: 1px 1px 12px #000;
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin: 50px auto;
}

.cover {
  top: 0;
  position: absolute;
  background-color: #131313;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 10px 7px 20px orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book:hover .cover {
  transition: all 1s;
  transform: rotatey(-80deg);
}

.mochiSecret {
  font-weight: bolder;
  color: #dccca3;
}

.img {
  height: 280px;
}
.p {
  font-size: small;
}
