* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainBox {
  width: clamp(10px, 100%, 1360px);
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #131313;
  color: #fff;
}

.box1,
.box2 {
  color: white;
  padding: 20px;
}

.image {
  width: 100%;
  height: auto;
  max-width: 700px;
  max-height: 700px;
}

.imageArticle {
  width: 400px;
  height: auto;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .mainBox {
    flex-direction: row;
  }

  .box1,
  .box2 {
    flex: 1;
  }

  .box2 {
    padding-left: 40px;
  }
}

.h1 {
  color: #dccca3;
}

.article {
  height: 1350px;
  max-width: 1100px;
  background-color: #232321;
  padding: 20px;
  border-bottom: 1px solid #303030;
}

.boxBlock {
  width: 90%;
  margin: 30px auto;
  border-left: solid 5px #131313;
  padding: 20px;
  color: #131313;
  background-color: #dccca3;
}
.opening {
  display: flex;
  align-items: center;
  margin-left: -70px;
  margin-right: -70px;
  margin-bottom: 90px;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  position: absolute;
  top: 195%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover {
  top: 0;
  position: absolute;
  background-color: #131313;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 10px 7px 20px orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.mochiSecret {
  font-weight: bolder;
  color: rgb(178, 168, 168);
}
